.auth-page{
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.auth-form{
  width:400px;
  background:var(--card-bg);
  padding:40px;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  gap:20px;
  border:1px solid var(--card-border);
}

.auth-form h1{
  font-size:42px;
}

.auth-form input{
  padding:15px;
  border-radius:10px;
  border:1px solid var(--card-border);
  background:var(--bg-color);
  color:var(--text-color);
  font-size:16px;
  outline:none;
}

.auth-form input::placeholder{
  color:var(--secondary-text);
}

.auth-form button{
  padding:15px;
  border:none;
  border-radius:10px;
  background:var(--button-bg);
  color:var(--button-text);
  font-size:16px;
  cursor:pointer;
  font-weight:600;
}

.auth-form a{
  text-decoration:none;
  color:var(--text-color);
  text-align:center;
}